<a href="https://colab.research.google.com/github/PrinceSajjadHussain/12.-TensforFlow-Object-Detection/blob/master/License_Plate_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries
- cv2 is opencv library which stands for open source computer vision. Opecv is a collection os algorithms which are used for computer vision.
- numpy is stands for Numerical Python. It is useful library for scitific calcualtion in python. It has multidimentional array object and lots of usefull methods for calculations.
- matplotlib.pyplot is used for ploting images.

In [ ]:
import cv2
import numpy as np
import matplotlib.pyplot as plt

# Download Dataset
- Data set for this project is downloaded from server
- unzip the download .zip file to get the .json file from it

In [ ]:
#download dataset zip file
!wget -O dataset.zip https://cc-uploads.s3.amazonaws.com/open_links/HumAIn+2019/vehicle-number-plate-detection+Datasets.zip

    
# #unzip the downloaded zip file    
!unzip dataset.zip

--2019-08-26 09:02:40--  https://cc-uploads.s3.amazonaws.com/open_links/HumAIn+2019/vehicle-number-plate-detection+Datasets.zip
Resolving cc-uploads.s3.amazonaws.com (cc-uploads.s3.amazonaws.com)... 52.216.163.163
Connecting to cc-uploads.s3.amazonaws.com (cc-uploads.s3.amazonaws.com)|52.216.163.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20255 (20K) [application/zip]
Saving to: ‘dataset.zip’

dataset.zip         100%[===================>]  19.78K  --.-KB/s    in 0.03s

2019-08-26 09:02:40 (599 KB/s) - ‘dataset.zip’ saved [20255/20255]

Archive:  dataset.zip
  inflating: Indian_Number_plates.json

# Load data from dataset json file 
- Dataset Indian_Number_plates.json is consisting of nested json object. So I am using pandas json_normalize method to make a dataframe as your requirement

In [ ]:
import json
from pandas.io.json import json_normalize

data = list()
with open('Indian_Number_plates.json') as data_file:
    for line in data_file:
        data.append(json.loads(line))

df = json_normalize(data=data,record_path=['annotation'],meta=['content'])

print(df.shape)
df.head()

(245, 6)

   imageHeight  ...                                            content
0          466  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
1          449  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
2          314  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
3          469  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
4          563  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...

[5 rows x 6 columns]

# Download images from url and store it into the test_images directory
- By using the dataframe 'content' columns url, I am downloading the images from server and store them inside the 'test_images' directory with sequential filename
- Filenames are stored inside a list named image_list

In [ ]:
#install scikit image
!pip install scikit-image

Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (0.15.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image) (1.3.1)
Requirement already satisfied: imageio>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from scikit-image) (2.4.1)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image) (2.3)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image) (3.0.3)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image) (4.3.0)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image) (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.17.0->scikit-image) (1.16.4)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->scikit-image) (4.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image) (2.5.3)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.3.0->scikit-image) (0.46)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib!=3.0.0,>=2.0.0->scikit-image) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.0.0,>=2.0.0->scikit-image) (41.2.0)

In [ ]:
from skimage import io

!mkdir -p test_images

image_list =list()
for i in range(df.shape[0]):
    file_name = "image"+str(i)+".jpg"
    file_path = "test_images/"+file_name
    url =  df['content'][i]
    image_list.append(file_name)
    img = io.imread(url)
    cv2.imwrite(file_path,img)

# Add downloaded image list to the dataframe
- the image filename list is inserted to the dataframe

In [ ]:
df.insert(0,"imageName",image_list)
df.head()

    imageName  ...                                            content
0  image0.jpg  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
1  image1.jpg  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
2  image2.jpg  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
3  image3.jpg  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
4  image4.jpg  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...

[5 rows x 7 columns]

# OCR of the license plates
- pytesseract library in python is used for ocr detection here.
- from dataset we get the normalised quadinate of the license plate
- using height and width of the dataset, I calculate the actual points
- cropped image is generated using this corner point
- then this cropped images is gives to the input of the image_to_string method fo pytesseract library
- All the license plate detected result is stored into the license_plates list
- This detected result is them added to dataframe corrosponding to the image

In [ ]:
## install tesseract 
!sudo apt-get install tesseract-ocr
!pip install pytesseract

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 14 not upgraded.
Need to get 4,795 kB of archives.
After this operation, 15.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-eng all 4.00~git24-0e00fe6-1.2 [1,588 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-osd all 4.00~git24-0e00fe6-1.2 [2,989 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr amd64 4.00~git2288-10f4998a-2 [218 kB]
Fetched 4,795 kB in 1s (4,084 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking tesseract-ocr (4.00~git2288-10f4998a-2) ...
Setting up tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Setting up tesseract-ocr (4.00~git2288-10f4998a-2) ...
Collecting pytesseract
  Downloading https://files.pythonhosted.org/packages/47/e5/892d78db0d26372aa376fc1b127e9cd4cc158727a76e0802069115fcbd6e/pytesseract-0.3.0.tar.gz
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (4.3.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from Pillow->pytesseract) (0.46)
Building wheels for collected packages: pytesseract
  Building wheel for pytesseract (setup.py) ... done
  Created wheel for pytesseract: filename=pytesseract-0.3.0-py2.py3-none-any.whl size=20969 sha256=5833c29dfaf0e9e78b716cd66ae5a4bf8b82185d26db4f59c35584c0e8eb2397
  Stored in directory: /root/.cache/pip/wheels/78/c9/ac/4cb76bd547f9970070522439e5203ba7926c5c5c4f131583ea
Successfully built pytesseract
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.0

In [ ]:
import pytesseract

license_plates = list()
for i in range(df.shape[0]):
    
    width = df['imageWidth'][i]
    height = df['imageHeight'][i]
    x1 = int(df['points'][i][0]['x']*width)
    y1 = int(df['points'][i][0]['y']*height)
    x2 = int(df['points'][i][1]['x']*width)
    y2 = int(df['points'][i][1]['y']*height)
    
    img = cv2.imread("test_images/"+df['imageName'][i],0)
    cropped_img = img[y1:y2,x1:x2]
    
    license_plate_number =  pytesseract.image_to_string(cropped_img)
    license_plate_number = "".join([i for i in license_plate_number if i==' ' or i.isalnum()])
    license_plates.append(license_plate_number)
    
df.insert(0,"license_plate_number",license_plates)
df[df['license_plate_number'].str.len() > 7].head()

   license_plate_number  ...                                            content
3             KA03 1351  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
8            THO7BU5427  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
10     KL KLeSR 2473 ye  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
12            MH20CSi 1  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...
15        HDL 7C N 3617  ...  http://com.dataturks.a96-i23.open.s3.amazonaws...

[5 rows x 8 columns]

# Finally the result is stored into .csv file

In [ ]:
df.to_csv("result.csv")

# Referances
- https://pypi.org/project/pytesseract/
- https://docs.opencv.org/3.0-beta/doc/py_tutorials/py_setup/py_intro/py_intro.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html
- https://scikit-image.org/docs/dev/api/skimage.io.html